.info-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 32px;
    .valor {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .receita, .valor-positivo{
        color: #2e7d32; /* Verde para receitas */
    }

    .despesa, .valor-negativo{
        color: #c62828; /* Vermelho para despesas */
    }
}

.tabela {
    width: 100%;
    margin-top: 2rem;
    .valor {
        font-size: 1.2rem;
        font-weight: 500;
    }
    .valor-negativo{
        color: #c62828; /* Vermelho para despesas */
    }
    .valor-positivo{
        color: #2e7d32; /* Verde para receitas */
    }
}
.icon-button {
  height: 40px;
  width: 40px;
  min-width: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.25s ease;
}