<h1>Bem vindo, {{username}}!</h1>

<div class="info-row">
    <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Saldo em Conta</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{balance}}
  </mat-card-content>
</mat-card>
    <div class="info-card">
        <h3>Receitas</h3>
        <p>R$ 2.500,00</p>
    </div>
    <div class="info-card">
        <h3>Despesas</h3>
        <p>R$ 1.250,00</p>
    </div>
</div>

<h2>Últimas Transações</h2>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Data">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let element"> {{element.Data}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Descricao">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let element"> {{element.Descricao}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Valor">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let element"> {{element.Valor}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>