<h1>Bem vindo, {{username}}!</h1>

<div class="info-row">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Saldo em Conta</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="valor" style="
      padding-top: 16px;">
        {{formatBRL(balanceValue)}}
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Receita</mat-card-title>
          <mat-card-subtitle>Últimos 30 dias:</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="valor receita">
        {{formatBRL(income)}}
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Despesas</mat-card-title>
          <mat-card-subtitle>Últimos 30 dias:</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="valor despesa">
       - {{formatBRL(expense)}}
      </mat-card-content>
    </mat-card>
</div>

<h2>Últimas Transações</h2>
<h4>(Últimos 30 dias)</h4>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabela">

  <ng-container matColumnDef="Data">
    <th mat-header-cell *matHeaderCellDef class="valor"> Data </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="Tipo">
    <th mat-header-cell *matHeaderCellDef class="valor"> Tipo </th>
    <td mat-cell *matCellDef="let element"> {{element.type | transactionTypePipeTs}} </td>
  </ng-container>

  <ng-container matColumnDef="Descricao">
    <th mat-header-cell *matHeaderCellDef class="valor"> Descrição </th>
    <td mat-cell *matCellDef="let element"> {{element.desription}} </td>
  </ng-container>

  <ng-container matColumnDef="Valor">
    <th mat-header-cell *matHeaderCellDef class="valor"> Valor </th>
    <td class="valor" mat-cell *matCellDef="let element" [class]="(element.amount | brlFormat: element.type).class">
      {{(element.amount | brlFormat: element.type).value}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>